/*===============================================
Main footer - Co-op Front-end Toolkit
===============================================*/

.footer-main {
  background: $offwhite;

  .footer-main-top {
    padding-top: $quarter-spacing-unit;
    padding-bottom: $quarter-spacing-unit;
  }

  .coop-logo {
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 55px;
    height: 55px;
    color: $coop-blue;
    border: none;

    &:hover {
      border: none;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: $coop-blue;
    }
  }

  .support-links {
    margin-top: $quarter-spacing-unit;
    margin-bottom: $quarter-spacing-unit;
    padding-top: $half-spacing-unit;
    padding-bottom: $half-spacing-unit;
    border-top: 1px solid $coop-border-grey;

    h4 {
      color: $coop-blue;
    }

    ul {
      @include list-bare;
      margin-bottom: $half-spacing-unit;

      li {
        margin-bottom: $quarter-spacing-unit;
      }

      a {
        border: none;
      }
    }

    .social-links {
      @include list-inline;
      text-align: center;

      @include media(small) {
        margin-left: -.5em;
        text-align: left;
      }

      li {
        margin: 0 .5em;
      }
    }
  }

  .bottom-links {
    background: $coop-blue;
    text-align: center;

    ul {
      @include list-inline;
      margin: 0;
    }

    a {
      display: inline-block;
      padding: $quarter-spacing-unit /2 $quarter-spacing-unit;
      border-width: 0;
      color: $white;
      font-size: em-calc(12);

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      @include media(medium) {
        padding: $quarter-spacing-unit;
        font-size: em-calc(16);
      }
    }
  }

  .legalese {
    padding-top: $quarter-spacing-unit;
    padding-bottom: $quarter-spacing-unit;
    text-align: center;

    p {
      margin: 0;
      font-size: em-calc(12);

      @include media(medium) {
        font-size: em-calc(16);
      }
    }
  }
}
