/*===============================================
Buttons mixins - Co-op Front-end Toolkit
===============================================*/

@import "../functions";
@import "../mixins/icons";

%button-base {
  display: inline-block;
  border: 0;
  border-radius: $border-radius;
  padding: $quarter-spacing-unit $half-spacing-unit * 1.25;
  text-align: center;
  color: $coop-link-blue;
  background-color: $offwhite;
  border: 1px solid $offwhite;
  font-size: em-calc(18);
  line-height: 1.5;
  box-shadow: 0 3px darken($offwhite, 8%);
  transition: background-color 0.15s linear;
  outline: none;

  &:hover,
  &:focus {
    background-color: darken($offwhite, 5%);
    border-color: darken($offwhite, 5%);
    color: $coop-link-blue;
  }

  &:disabled,
  &.disabled {
    opacity: .75;
    cursor: not-allowed;
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: $offwhite;
    }
  }
}

@mixin button-colour($text-colour: $coop-link-blue,
                     $hover-text-colour: $coop-link-blue,
                     $bg-colour: $offwhite,
                     $border-colour: $offwhite,
                     $hover-border-colour: $offwhite,
                     $shadow-colour: darken($offwhite, 8%),
                     $hover-bg-colour: darken($offwhite, 5%)) {

  color: $text-colour;
  background-color: $bg-colour;
  border: 1px solid $border-colour;
  box-shadow: 0 3px $shadow-colour;

  &:hover,
  &:focus {
    background-color: $hover-bg-colour;
    border-color: $hover-border-colour;
    color: $hover-text-colour;
  }

  &:disabled,
  &.disabled {

    &:hover,
    &:focus {
      background-color: $bg-colour;
    }
  }

  &.btn-loading:after {
    border-color: $text-colour;
  }
}

%btn-full {
  width: 100%;
}

%btn-small {
  padding: $quarter-spacing-unit / 3 $quarter-spacing-unit;
  font-size: .875em;
}

%btn-medium {
  padding: $quarter-spacing-unit / 2 $quarter-spacing-unit;
}

%btn-large {
  padding: $quarter-spacing-unit $half-spacing-unit;
}

%btn-pill {
  margin: .25em .25em .25em 0;
  box-shadow: none !important;
}

%btn-loading {
  &:after {
    content: "";
    animation: three-quarters-loader 1250ms infinite linear;
    border: 3px solid;
    border-right-color: transparent !important;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
    transition: color 0s;

    @include ie(9) {
      content: "...";
      border-width: 0;
      width: auto;
      height: auto;
      margin: 0;
    }
  }
}

%btn-back {
  &:before {
    @extend %icon;
    @extend %icon-back-arrow;
    position: relative;
    left: 0;
    margin-right: .25em;
    font-size: 1.5em;
    transition: all 0.15s linear;
  }

  &:hover,
  &:focus {
    &:before {
      left: -.25em;
    }
  }
}

%btn-proceed {
  &:after {
    @extend %icon;
    @extend %icon-forward-arrow;
    position: relative;
    left: 0;
    margin-left: .25em;
    font-size: 1.5em;
    transition: all 0.15s linear;
  }

  &:hover,
  &:focus {
    &:after {
      left: .25em;
    }
  }
}

@keyframes three-quarters-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
