/*===============================================
Mixins - Co-op Front-end Toolkit
===============================================*/

/**
 * Clearfix
 */
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
