/*===============================================
Links mixins - Co-op Front-end Toolkit
===============================================*/

@mixin link($color: $coop-link-blue) {
  color: $color;
  border-bottom: .075em solid $color;
  text-decoration: none;

  &:hover {
    color: $color;
  }

  &:active,
  &:focus {
    transition: none;
    outline: 4px solid $coop-blue-highlighted;
  }
}
