/*===============================================
Lists mixins - Co-op Front-end Toolkit
===============================================*/

%list {
  margin-bottom: $half-spacing-unit;
}

%list-bare {
  list-style-type: none;
  padding: 0;
}

%list-inline {
  @extend %list-bare;

  li {
    display: inline-block;
  }
}
