/*===============================================
Messages/alerts mixins - Co-op Front-end Toolkit
===============================================*/

@import "../functions";
@import "../icons";

%message {
  position: relative;
  padding: $quarter-spacing-unit $quarter-spacing-unit $quarter-spacing-unit $base-spacing-unit;
  margin-bottom: $half-spacing-unit;
  border: 1px solid $coop-blue;
  background: $white;
  color: $coop-blue;
  font-size: em-calc(18);

  p,
  ul,
  ol {
    margin-bottom: $quarter-spacing-unit;
  }

  ul,
  ol {
    padding-left: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  &:before {
    @extend %icon;
    @extend %icon-information;
    position: absolute;
    left: .6em;
    top: .5em;
    font-size: 1.6em !important;
  }
}
