/*===============================================
Typography mixins - Co-op Front-end Toolkit
===============================================*/

@import "../functions";
@import "helpers";

@mixin font-size($element: 'body', $line-height: $base-line-height) {
  font-size: em-calc(map-deep-get($typographic-scale, "base", $element));

  @if $line-height != $base-line-height {
    line-height: $line-height;
  }

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $element) {
        @include media($screen-size) {
          font-size: em-calc(map-deep-get($typographic-scale, $screen-size, $element));
        }
      }
    }
  }
}

// Headings
@mixin heading-h1 {
  @include font-size('h1', 1.2);
  font-family: $bold;
}

@mixin heading-h2 {
  @include font-size('h2');
  font-family: $bold;
}

@mixin heading-h3 {
  @include font-size('h3');
  font-family: $bold;
}

@mixin heading-h4 {
  @include font-size('h4');
  font-family: $bold;
}

@mixin heading-h5 {
  @include font-size('h5');
  font-family: $bold;
}

@mixin heading-h6 {
  @include font-size('h6');
  font-family: $bold;
}

// Base size (paragraphs, lists)
@mixin body {
  @include font-size('body');
}

@mixin small {
  @include font-size('small', 1.25);
}

@mixin intro-text {
  @include font-size('h2', 1.4);
}

// Other typographic elements
@mixin blockquote {
  @include font-size('blockquote');
  margin: 0 0 $half-spacing-unit;
  padding: $quarter-spacing-unit;
  background-color: $offwhite;

  p {
    margin-bottom: $quarter-spacing-unit;
  }

}

@mixin cite {
  display: block;
  font-family: $regular-italic;
  font-size: 0.75em;

  &:before {
    content: '';
  }
}

// Text styles
@mixin regular {
  font-family: $regular;
}

@mixin regular-italic {
  font-family: $regular-italic;
}

@mixin medium {
  font-family: $bold;
}

@mixin bold {
  font-family: $bold;
}

@mixin bold-italic {
  font-family: $bold-italic;
}

@mixin line-through {
  text-decoration: line-through;
}
