/*==============================================================
Typography amd Vertical Rhythm mixins - Co-op Front-end Toolkit
===============================================================*/

@import "../functions";
@import "helpers";

@mixin font-size($element: 'body', $line-height: $base-line-height) {
  font-size: em-calc(map-deep-get($typographic-scale, "base", $element));
  font-family: $bold;

  @if $line-height != $base-line-height {
    line-height: $line-height;
  }

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $element) {
        @include media($screen-size) {
          font-size: em-calc(map-deep-get($typographic-scale, $screen-size, $element));
        }
      }
    }
  }
}

@mixin line-height($line-height: 'base-line-height')  {
  line-height: (map-deep-get($typographic-scale, "base", $line-height));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $line-height) {
        @include media($screen-size) {
          line-height: (map-deep-get($typographic-scale, $screen-size, $line-height));
        }
      }
    }
  }
}


@mixin base-margin-bottom($spacing-unit: 'base-spacing-unit') {
  margin-bottom: (map-deep-get($typographic-scale, "base", $spacing-unit));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $spacing-unit) {
        @include media($screen-size) {
          margin-bottom: (map-deep-get($typographic-scale, $screen-size, $spacing-unit));
        }
      }
    }
  }
}


@mixin half-margin-bottom($spacing-unit: 'half-spacing-unit')  {
margin-bottom: (map-deep-get($typographic-scale, "base", $spacing-unit));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $spacing-unit) {
        @include media($screen-size) {
          margin-bottom: (map-deep-get($typographic-scale, $screen-size, $spacing-unit));
        }
      }
    }
  }
}

@mixin quarter-margin-bottom($spacing-unit: 'quarter-spacing-unit')  {
margin-bottom: (map-deep-get($typographic-scale, "base", $spacing-unit));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $spacing-unit) {
        @include media($screen-size) {
          margin-bottom: (map-deep-get($typographic-scale, $screen-size, $spacing-unit));
        }
      }
    }
  }
}

@mixin eighth-margin-bottom($spacing-unit: 'eighth-spacing-unit')  {
margin-bottom: (map-deep-get($typographic-scale, "base", $spacing-unit));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $spacing-unit) {
        @include media($screen-size) {
          margin-bottom: (map-deep-get($typographic-scale, $screen-size, $spacing-unit));
        }
      }
    }
  }
}

@mixin sixteenth-margin-bottom($spacing-unit: 'sixteenth-spacing-unit')  {
margin-bottom: (map-deep-get($typographic-scale, "base", $spacing-unit));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $spacing-unit) {
        @include media($screen-size) {
          margin-bottom: (map-deep-get($typographic-scale, $screen-size, $spacing-unit));
        }
      }
    }
  }
}


@mixin base-padding-top($spacing-unit: 'base-spacing-unit') {
  padding-top: (map-deep-get($typographic-scale, "base", $spacing-unit));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $spacing-unit) {
        @include media($screen-size) {
          padding-top: (map-deep-get($typographic-scale, $screen-size, $spacing-unit));
        }
      }
    }
  }
}

@mixin half-padding-top($spacing-unit: 'half-spacing-unit')  {
padding-top: (map-deep-get($typographic-scale, "base", $spacing-unit));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $spacing-unit) {
        @include media($screen-size) {
          padding-top: (map-deep-get($typographic-scale, $screen-size, $spacing-unit));
        }
      }
    }
  }
}


@mixin quarter-padding-top($spacing-unit: 'quarter-padding-top')  {
padding-top: (map-deep-get($typographic-scale, "base", $spacing-unit));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $spacing-unit) {
        @include media($screen-size) {
          padding-top: (map-deep-get($typographic-scale, $screen-size, $spacing-unit));
        }
      }
    }
  }
}


@mixin eighth-padding-top($spacing-unit: 'eighth-spacing-unit')  {
padding-top: (map-deep-get($typographic-scale, "base", $spacing-unit));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $spacing-unit) {
        @include media($screen-size) {
          padding-top: (map-deep-get($typographic-scale, $screen-size, $spacing-unit));
        }
      }
    }
  }
}


@mixin sixteenth-padding-top($spacing-unit: 'sixteenth-spacing-unit')  {
padding-top: (map-deep-get($typographic-scale, "base", $spacing-unit));

  @each $screen-size in map-keys($typographic-scale) {
    @if $screen-size != 'base' {
      @if map-deep-get($typographic-scale, $screen-size, $spacing-unit) {
        @include media($screen-size) {
          padding-top: (map-deep-get($typographic-scale, $screen-size, $spacing-unit));
        }
      }
    }
  }
}


@mixin body {
  @include font-size('body');
}

// Headings
@mixin heading-mega {
  @include font-size('h-mega', 1.22);
  @include half-margin-bottom;
  @include half-padding-top;
}

@mixin heading-h1 {
  @include font-size('h1', 1.4);
  @include half-margin-bottom;
}

@mixin heading-h2 {
  @include font-size('h2', 1.5);
  @include half-padding-top;
  @include eighth-margin-bottom;
}

@mixin heading-h3 {
  @include font-size('h3', 1.5);
  @include eighth-margin-bottom;
  @include eighth-padding-top;
}

@mixin heading-h4 {
  @include font-size('h4', 1.5);
  @include eighth-margin-bottom;
  @include eighth-padding-top;
}

@mixin heading-h5 {
  @include font-size('h5', 1.5);
  @include eighth-margin-bottom;
  @include eighth-padding-top;
}

@mixin heading-h6 {
  @include font-size('h6', 1.2);
  @include sixteenth-margin-bottom;
  @include quarter-padding-top;
}

@mixin intro-text {
  @include font-size('lead', 1.6);
  @include quarter-margin-bottom;
  font-family: $regular;
}

@mixin small {
  @include font-size('small', 1.25);
  @include sixteenth-margin-bottom;
  @include quarter-padding-top;
  font-family: $regular;
}


// Other typographic elements
@mixin blockquote {
  @include font-size('blockquote');
  @include half-margin-bottom;
  padding: $quarter-spacing-unit;
  background-color: $offwhite;
  font-family: $regular;

  cite {
    margin-top: $quarter-spacing-unit;
  }

}

@mixin cite {
  display: block;
  font-family: $regular;
  font-size: 0.75em;

  &:before {
    content: '';
  }
}

// Text styles
@mixin regular {
  font-family: $regular;
}

@mixin regular-italic {
  font-family: $regular-italic;
}

@mixin medium {
  font-family: $medium;
}

@mixin bold {
  font-family: $bold;
}

@mixin bold-italic {
  font-family: $bold-italic;
}

@mixin line-through {
  text-decoration: line-through;
}
