/*===============================================
Typography mixins - Co-op Front-end Toolkit
===============================================*/

@import "functions";


// Headings
@mixin heading-h1 {
  font-size: em-calc(30);
  line-height: 1.2;

  @include media(medium) {
    font-size: em-calc(36);
  }
}

@mixin heading-h2 {
  font-size: em-calc(24);
}

@mixin heading-h3 {
  font-size: em-calc(19);
}

@mixin heading-h4 {
  font-family: $bold;
  font-size: em-calc(16);
}

@mixin heading-h5 {
  font-family: $bold;
  font-size: em-calc(13);
}

@mixin heading-h6 {
  font-size: em-calc(11);
  font-family: $bold;
  text-transform: uppercase;
}

// Text styles
@mixin regular {
  font-family: $regular;
}

@mixin regular-italic {
  font-family: $regular-italic;
}

@mixin bold {
  font-family: $bold;
}

@mixin bold-italic {
  font-family: $bold-italic;
}

@mixin line-through {
  text-decoration: line-through;
}

// Other typographic elements
@mixin blockquote {
  margin: 0 0 $half-spacing-unit;
  padding: $quarter-spacing-unit;
  font-size: em-calc(18);
  background-color: $offwhite;
}

@mixin cite {
  display: block;
  margin-top: $quarter-spacing-unit;
  font-style: normal;

  &:before {
    content: '-- ';
  }
}

@mixin intro-text {
  font-size: em-calc(24);
  line-height: 1.2;
}


// Miscellaneous
@mixin small {
  font-size: em-calc(11);
  line-height: 1.25;

  @include media(large) {
    font-size: em-calc(13);
  }
}
