/*===============================================
Accordions - Co-op Front-end Toolkit
===============================================*/

@import "toggles";

.accordion {
  border-bottom: 2px dotted $coop-grey;

  .toggle-trigger {
    margin-bottom: 0;
    border-bottom-width: 0;

    &.open {
      margin-bottom: $quarter-spacing-unit;
      border-bottom-width: 2px;
    }
  }
}
