.banner {
  background:$offwhite;

  a{
    color:$body-copy;
    border-color:$body-copy;
  }
}

.banner-dark{
  background:$bluey-dark-grey;

  p{
    color:$white;

    a{
      color:$white;
      border-color:$white;
    }
  }
}

.banner-fixed-bottom{
  position:fixed;
  width:100%;
  bottom:0;
}

.banner-video{
  background:black;
  padding-bottom:106.25%;
  position:relative;
  width:100%;
  height:0;

  @include media(medium) {
    padding-bottom:56.25%;
  }

  @include media("min-width:1241px") {
    padding-bottom:48.4722%;
  }


  .banner-poster{
    position:absolute;
    width:100%;
    left:0;
    top:0;

    @include media(medium) {
      height:100%;
      width:auto;
    }
  }

  .table{ // make .row.table fill it's container
    display:table;
    margin:0;
    position:absolute;
    height:100%;
    height:106.25vw;
    width:100%;

    @include media(medium) {
      height:56.25vw;
    }

    @include media("min-width:1241px") {
      height:48.4722vw;
    }

    .column{
      vertical-align: middle;
      display: table-cell;
      float: none;
    }
  }

  .banner-text{
    a{
      display:inline-block;
    }
  }

  .icon-coop-card{
    width:84px;
    height:132.8px;

    @include media(medium) {
      width: 124px;
      height: 195.8px;
    }
  }

  h1{
    position:relative;
    color:$white;
    font-size:28px;
    white-space:nowrap;

    @include media(medium) {
      font-size:42px;
    }
  }

  a{
    border:none;
    cursor:pointer;
  }

  .icon-play{
    position:relative;
    width:39px;
    height:39px;

    @include media(medium) {
      width:54px;
      height:54px;
    }
  }

  iframe{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    max-height:698px;
    transition:opacity .4s .6s;
  }

  *{
    transition:opacity 0.4s, visibility 0s 0.4s;
  }

  .hidden{
    opacity:0;
    visibility:hidden;
  }
}