/*===============================================
Breadcrumbs - Co-op Front-end Toolkit
===============================================*/

@import "colours";
@import "../functions";
@import "../mixins/helpers";
@import "../mixins/icons";

.breadcrumbs {
  padding: $quarter-spacing-unit / 2 0;
  color: $coop-grey;
  margin-top: -$half-spacing-unit;
  margin-bottom: $half-spacing-unit;
  font-size: em-calc(14);

  @include media(medium) {
    background: $offwhite;
    padding-left: $quarter-spacing-unit;
    padding-right: $quarter-spacing-unit;
  }

  li {
    display: inline;
    list-style: none;

    &:after {
      @extend %icon;
      @extend %icon-forward-arrow;
      position: relative;
      top: -1px;
      padding: 5px;
    }

    a {
      color: $coop-grey;
      border-bottom: 0;

      &:hover {
        border-bottom: 1px dotted $coop-grey;
      }
    }

    &:last-child {
      font-family: $bold;

      &:after {
        content: none;
      }
    }
  }
}

.breadcrumbs--no-margin {
  margin-top: 0;
}
