/*===============================================
Messages/alerts - Co-op Front-end Toolkit
===============================================*/

@import "../mixins/messages";
@import "../mixins/icons";

.message {
  @extend %message;
}

.message-prompt {
  &:before {
    @extend %icon-help;
  }
}

.message-info {
  border-color: $info-orange;
  color: $info-orange;

  &:before {
    @extend %icon-information;
  }
}

.message-error {
  border-color: $saleerror-red;
  color: $saleerror-red;

  &:before {
    @extend %icon-alert;
  }
}

.message-success {
  border-color: $button-green;
  color: $button-green;

  &:before {
    @extend %icon-tick;
  }
}
