/*===============================================
Navigation in page - Co-op Front-end Toolkit
===============================================*/

.in-page-nav {
  @include spacing('padding', 'left', 'half');
  @include spacing('margin', 'bottom', 'base');
  border-left: 10px solid #E5E5E5;
  margin-left: 2px;

  li,
  .in-page-nav_item {
    margin-bottom: 12px;
  }
}
