/*===============================================
Main navigation - Co-op Front-end Toolkit
===============================================*/

@import "../functions";
@import "../mixins/helpers";
@import "../mixins/lists";

.nav-primary {
  position: absolute;
  z-index: 100;
  width: 100%;
  margin-left: 100%;
  background: $white;
  transition: all, 0.25s, ease-in-out;

  &.open {
    margin-left: 0;
  }

  @include media(medium) {
    position: static;
    margin-left: 0;
    height: auto;
    border: 1px solid $coop-border-grey;
    border-width: 1px 0;
    text-align: left;
  }

  ul {
    @include list-bare;
    margin: 0 0 $quarter-spacing-unit;

    @include media(medium) {
      margin: 0;

      li {
        position: relative;
        display: inline-block;

        &.active > a {
          background: $offwhite;

          &:before {
            border-color: transparent;
          }
        }

        &.active + li,
        &:hover + li,
        &:first-child {
          > a:before {
            border-color: transparent;
          }
        }

        &:hover ul {
          display: block;
        }
      }

      > li {
        margin-right: -.25em;
      }
    }

    a {
      display: block;
      padding: $quarter-spacing-unit;
      border-bottom: 0;
      color: $coop-blue;

      &:before {
        content: " ";
        position: absolute;
        left: 0;
        height: 24px;
        border-left: 1px solid $coop-border-grey;
        transition: all, .25s, ease-in-out;
      }

      &:hover,
      &:focus {
        background: $offwhite;

        &:before {
          border-color: transparent;
        }
      }

      &:focus {
        outline: 1px dotted $white;
      }

      .icon {
        display: none;
      }

      @include media(medium) {
        color: $coop-link-blue;

        .icon {
          display: inline-block;
          font-size: 1em;
          margin-left: .5em;
        }
      }
    }

    // Sub-nav
    ul {
      margin-left: $quarter-spacing-unit;
      border-left: 2px solid $coop-blue;
      background: $white;

      @include media(medium) {
        position: absolute;
        z-index: 100;
        display: none;
        width: 200%;
        margin-left: 0;
        border: 1px solid $coop-border-grey;
        border-top-width: 0;

        li {
          width: 100%;

          a {
            &:before {
              content: none;
            }
          }
        }
      }
    }
  }
}

.nav-standout {
  ul {
    a {
      font-size: em-calc(38);

      @include media(medium) {
        font-size: em-calc(16);
      }
    }
  }
}

.nav-secondary {
  margin: 2em 0;
  margin-left: 0;
  text-align: center;

  ul {
    @include list-inline;
    border: 1px dashed $coop-grey;
    border-width: 1px 0;

    a {
      display: block;
      padding: $quarter-spacing-unit;
      border-bottom: 0;
      color: $coop-grey;
      font-weight: bold;

      &:hover,
      &:focus,
      &.active {
        background: $offwhite;
      }

      &:focus {
        outline: 1px dotted $white;
      }
    }
  }
}
