/*===============================================
Panels - Co-op Front-end Toolkit
===============================================*/

%panel {
  padding: $quarter-spacing-unit;
  margin-bottom: 1em;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

%boxed,
.boxed {
  @extend %panel;

  border: 1px solid $coop-border-grey;
}

%panel-grey,
.panel-grey {
  @extend %panel;

  background: $offwhite;
}
