/*===============================================
Panels - Co-op Front-end Toolkit
===============================================*/

%panel,
.panel {
  padding: $quarter-spacing-unit;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.boxed {
  @extend %panel;

  border: 1px solid $coop-border-grey;
}

.panel-grey {
  @extend %panel;

  background: $offwhite;
}
