/*===============================================
Buttons - Co-op Front-end Toolkit
===============================================*/

@import "mixins/buttons";

button,
.btn {
  @include button;
}

.btn-green {
  @extend .btn;

  color: $white;
  background-color: $button-green;
  box-shadow: 0 4px darken($button-green, 6%);

  &:hover,
  &:focus {
    background-color: $button-green-highlighted;
  }

  &:disabled,
  &.disabled {
    background-color: rgba($button-green, 0.9);

    &:hover,
    &:focus {
      background-color: rgba($button-green, 0.9);
    }
  }
}

.btn-blue {
  @extend .btn;

  color: $white;
  background: $coop-blue;
  box-shadow: 0 4px darken($coop-blue, 6%);

  &:hover,
  &:focus {
    background-color: lighten($coop-blue, 10%);
  }

  &:disabled,
  &.disabled {
    background-color: rgba($coop-blue, 0.9);

    &:hover,
    &:focus {
      background-color: rgba($coop-blue, 0.9);
    }

  }
}

.btn-grey {
  @extend .btn;

  color: $white;
  background: $coop-grey;
  box-shadow: 0 4px lighten($coop-grey, 6%);

  &:hover,
  &:focus {
    background-color: darken($coop-grey, 10%);
  }

  &:disabled,
  &.disabled {
    background-color: rgba($coop-grey, 0.9);

    &:hover,
    &:focus {
      background-color: rgba($coop-grey, 0.9);
    }

  }
}
