/*===============================================
Buttons - Co-op Front-end Toolkit
===============================================*/

@import "mixins/buttons";

button,
.btn {
  @extend %button-base;
}

.btn-primary {
  @include button-colour($text-colour: $white,
                         $hover-text-colour: $white,
                         $bg-colour: $button-green,
                         $border-colour: $button-green,
                         $hover-border-colour: $button-green-highlighted,
                         $hover-bg-colour: $button-green-highlighted);
}

.btn-secondary {
  @include button-colour($text-colour: $button-secondary-grey,
                         $hover-text-colour: $button-secondary-grey,
                         $bg-colour: transparent,
                         $border-colour: $coop-border-grey,
                         $hover-bg-colour: transparent,
                         $hover-border-colour: $button-secondary-grey);
}

.btn-secondary-negative {
  @include button-colour($text-colour: $white,
                         $hover-text-colour: $white,
                         $bg-colour: transparent,
                         $border-colour: $coop-border-grey,
                         $hover-bg-colour: transparent,
                         $hover-border-colour: $white);
}

.btn-full {
  @extend %btn-full;
}

.btn-small {
  @extend %btn-small;
}

.btn-medium {
  @extend %btn-medium;
}

.btn-large {
  @extend %btn-large;
}

.btn-pill {
  @extend %btn-pill;
}

.btn-loading {
  @extend %btn-loading;
}

.btn-proceed {
  @extend %btn-proceed;
}

.btn-back {
  @extend %btn-back;
}
