/*===============================================
Colour variables - Co-op Front-end Toolkit
===============================================*/
 
$coop-brand-blue: #00B1E7;

$body-copy: #282828;
$coop-blue: #00a1cc;

$coop-link-blue: #00729a;
$coop-blue-highlighted: #00bbe3;
$coop-link-visited: #551a8b;

$white: #ffffff;
$offwhite: #f3f3f3;
$coop-border-grey: #c4c4c4;
$coop-grey: #6e6e6e;

$button-green: #239F85;
$button-green-highlighted: #2ABB9D;
$button-secondary-grey: #3E464C;

$info-orange: #dc7d00;
$saleerror-red: #d0091c;
$added-to-page: #fff6bf;

$black: #000000;
$light-grey: #dddddd;
$dark-grey: #cccccc;
$darker-grey: #333333;

$offwhite-highlighted-bg: #e6e6e6;
$coop-grey-unselected: #949494;
