// This file imports all the available styles form the Toolkit.

// Colours and variables:
// These are required by most of the following styles and should always be
// included in your project -- they do not produce any CSS by themselves, so
// there is no overhead when including them.
// The variables can be overridden by providing alternative defaults: refer to
// _variables.scss for more information.
@import "colours";
@import "variables";

// Core styles
@import "normalize";
@import "helpers";
@import "fonts";
@import "global";
@import "logo";
@import "grid";
@import "links";
@import "typography";
@import "lists";
@import "icons";
@import "tables";
@import "buttons";
@import "forms";
@import "responsive";

// Components
@import "components/top-bar";
@import "components/header-main";
@import "components/navigation-main";
@import "components/footer-main";
@import "components/skip-nav";
@import "components/panels";
@import "components/messages";
@import "components/pagination";
@import "components/breadcrumbs";
@import "components/search";
@import "components/tabs";
@import "components/toggles";
