/*===============================================
Forms - Co-op Front-end Toolkit
===============================================*/

@import "mixins/forms";

.form-row {
  @include form-row;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

label,
legend {
  @include form-label;
}

input,
textarea  {
  @include form-field;
}

select {
  @include form-select;
}

input[type=checkbox] {
  @include form-check-field("checkbox");
}
input[type=radio] {
  @include form-check-field("radio");
}

.tap-input,
input[type=radio].tap-input {
  @include form-tap-tile;
}

input[type='range'] {
  -webkit-appearance: none;

  &::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: $light-grey;
    border: 0;
    border-radius: 3px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $coop-blue;
    margin-top: -4px;

    &:hover,
    &:focus {
      box-shadow: 0 0 20px lighten($coop-blue, 20%);
    }
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: $dark-grey;
    }
  }
}

// Input states
input.parsley-error,
textarea.parsley-error {
  border: 2px solid $saleerror-red;

  &:hover,
  &:focus {
    border: 2px solid $saleerror-red;
  }

}

.parsley-errors-list {
  display: none;
  position: relative;
  width: 100%;
  padding: 0 $half-spacing-unit / 2 0 $half-spacing-unit;
  list-style: none;
  color: $saleerror-red;



  li,
  .parsley-required,
  .parsley-type,
  .parsley-custom-error-message {
    margin-bottom: $quarter-spacing-unit;


    &:before {
      @extend %icon;
      @extend %icon-alert;
      position: absolute;
      left: 0;
    }


  }


}

.parsley-errors-list.filled {
  display: block;
}

// .parsley-success {
//   border: 2px solid $button-green;
// }

// .success {

//   &:after {
//     @extend %icon;
//     content: '\e60c';
//     position: absolute;
//     margin-left: 5px;
//     color: $button-green;

//   }

// }






span.prefix,
span.postfix {
  height: auto;
  font-size: em-calc(16px);
  line-height: 1.6;
  border-top: 2px solid $coop-grey;
  border-right: 0;
  border-bottom: 2px solid $coop-grey;
  border-left: 2px solid $coop-grey;
}

span.prefix {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

span.postfix {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.prefix-small,
.postfix-small  {
  padding: $quarter-spacing-unit / 3;
}

.prefix-medium,
.postfix-medium  {
  padding: $quarter-spacing-unit / 2;
}

.prefix-large,
.postfix-large {
  padding: $quarter-spacing-unit;
}
