/*===============================================
Forms - Co-op Front-end Toolkit
===============================================*/

@import "functions";
@import "mixins/forms";

.form-row {
  @extend %form-row;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.form-section {
  margin-bottom: $half-spacing-unit;
}

label,
legend {
  @extend %form-label;
}

input,
textarea  {
  @include form-field;
}

textarea {
  resize: vertical;
  transition: border-color .3s ease-in-out;
}

select {
  @include form-select;
}

input[type=checkbox] {
  @include form-check-field("checkbox");
}
input[type=radio] {
  @include form-check-field("radio");
}

.tap-input,
input[type=radio].tap-input {
  @include form-tap-tile;
}

input[type='range'] {
  -webkit-appearance: none;

  &::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: $light-grey;
    border: 0;
    border-radius: 3px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $coop-blue;
    margin-top: -4px;

    &:hover,
    &:focus {
      box-shadow: 0 0 20px lighten($coop-blue, 20%);
    }
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: $dark-grey;
    }
  }
}

span.prefix {
  @include form-prefix;
}

span.suffix {
  @include form-suffix;
}


// Error states
.invalid {
  @extend %form-invalid;
}

.parsley-errors-list {
  display: none;
  position: relative;
  width: 100%;
  padding: 0 $half-spacing-unit / 2 0 $half-spacing-unit;
  list-style: none;
  color: $saleerror-red;



  li,
  .parsley-required,
  .parsley-type,
  .parsley-custom-error-message {
    margin-bottom: $quarter-spacing-unit;


    &:before {
      @extend %icon;
      @extend %icon-alert;
      position: absolute;
      left: 0;
    }


  }


}

.parsley-errors-list.filled {
  display: block;
}

// .parsley-success {
//   border: 2px solid $button-green;
// }

// .success {

//   &:after {
//     @extend %icon;
//     content: '\e60c';
//     position: absolute;
//     margin-left: 5px;
//     color: $button-green;

//   }

// }


.form-wrap-header {
  @include media(medium) {
    padding: $quarter-spacing-unit $half-spacing-unit;
    background: $coop-blue;
    color: $white;
  }
}

.form-wrap-title {
  margin: 0;
  color: $coop-blue;

  @include media(medium) {
    color: $white;
  }
}

.form-wrap {
  padding: $half-spacing-unit 0;
  margin-bottom: $half-spacing-unit;

  @include media(medium) {
    padding: $half-spacing-unit;
    border: 1px solid $coop-border-grey;
  }
}

.form-navigation {
  @include clearfix;

  margin-top: $half-spacing-unit;
  padding-top: $half-spacing-unit;
  border-top: 1px solid $coop-border-grey;
}
