/*===============================================
Global - Co-op Front-end Toolkit
===============================================*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: $base-font-size;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: $base-line-height;
  color: $coop-grey;
  font-family: $regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Responsive images
img {
  max-width: 100%; height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}
