/*===============================================
Global - Co-op Front-end Toolkit
===============================================*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: $base-font-size;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  line-height: $base-line-height;
  color: $coop-grey;
  font-family: $regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include ie() {
    min-width: 960px;
    overflow-x: auto;

    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
    audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; }
    [hidden] { display: none; }
  }
}


// Responsive images
img {
  max-width: 100%; height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}


// Main content
.main {
  margin-top: $half-spacing-unit;
}
