/*===============================================
Grid layout - Co-op Front-end Toolkit
===============================================*/

@import "mixins/helpers";
@import "mixins/grid";

.wrap {
  @include wrap;
}

.row {
  @include clearfix;

  margin-left: -$grid-gutter /4;
  margin-right: -$grid-gutter /4;

  @include media(medium) {
    margin-left: -$grid-gutter /2;
    margin-right: -$grid-gutter /2;
  }
}

.column,
.columns {
  position: relative;
  float: left;
  padding-left: $grid-gutter /4;
  padding-right: $grid-gutter /4;

  @include media(medium) {
    padding-left: $grid-gutter /2;
    padding-right: $grid-gutter /2;
  }

  .row.collapse > &,
  .collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

@each $size in $grid-screen-sizes {
  // Standard columns
  @if index($grid-screen-sizes, $size) {
    @if $size == first($grid-screen-sizes) {
      @include grid-columns($size);
    }
    @else {
      @include media($size) {
        @include grid-columns($size);
      }
    }
  }
}
