/*===============================================
Links - Co-op Front-end Toolkit
===============================================*/

@import "variables";
@import "mixins/links";

a {
  @include link;
}

.link-white {
  @include link($white);
}

.link-black {
  @include link($body-copy);
}

.link-back {
  @include link($body-copy);
  font-size: 16px;
  margin-left: 30px;

  &:before {
    content: '';
    display: inline-block;
    margin-left: -30px;
    background: $light-grey;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    vertical-align: bottom;
  }

  @include media(medium) {
    font-size: 20px;
  }

  .link-back__icon {
    margin-left: -60px;
  }


}
