/*===============================================
Links - Co-op Front-end Toolkit
===============================================*/

a {
  color: $coop-link-blue;
  border-bottom: 1px dotted $coop-link-blue;
  text-decoration: none;
  transition: all 0.25s ease;

  &:hover {
    color: $coop-blue-highlighted;
    border-bottom: 1px solid $coop-blue-highlighted;
  }

  &:focus {
    outline: 1px dotted $coop-blue;
  }

  // &:visited {
  //   color: $coop-link-visited;
  //   border-bottom: 1px dotted $coop-link-visited;
  // }
}
