/*===============================================
Lists - Co-op Front-end Toolkit
===============================================*/

@import "variables";
@import "mixins/lists";

ul, ol {
  @include list;
}

.undecorated-list,
.list-bare {
  @include list-bare;
}

.list-inline {
  @include list-inline;
}
