/*===============================================
Logo - Co-op Front-end Toolkit
===============================================*/

@import "mixins/logo";

.coop-logo,
.coop-logo-small {
  @include coop-logo();
}

.coop-logo-medium {
  @extend .coop-logo;

  width: 66px;
  height: 66px;
}

.coop-logo-large {
  @extend .coop-logo;

  width: 76px;
  height: 76px;
}
