/*===============================================
Tables - Co-op Front-end Toolkit
===============================================*/

@import "variables";
@import "colours";
@import "mixins/helpers";
@import "mixins/typography";

table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: $half-spacing-unit;
  border: 1px solid $coop-border-grey;

  th, td {
    padding: $quarter-spacing-unit $half-spacing-unit;
    text-align: left;
  }

  thead {
    background-color: $offwhite;
    border-bottom: 1px solid $coop-border-grey;
  }

  tbody {
    td {
      border-bottom: 1px solid $coop-border-grey;
    }
    th {
      background-color: $offwhite;
      border-bottom: 1px solid $coop-border-grey;
    }
  }

  tfoot {
    font-family: $regular;

    td {
      font-weight: bold;
      background-color: $offwhite;
    }

  }

}

// Zebra striping for large data tables
.zebra {

  tr:nth-child(even) {
    background-color: $offwhite;
  }

}

// Simple responsive tables. Wrap a div round your table and apply the class.
.table-overflow-x {
  overflow-x: visible;
  overflow-y: hidden;
  margin-bottom: $half-spacing-unit;

  table {
    margin-bottom: 0;
  }

}

.unstyled-table {
  border: 0;
  margin-bottom: 0;

  th, td {
    padding: $eighth-spacing-unit 0;

    @include media(medium) {
      padding: $quarter-spacing-unit;
    }

  }

  .tr-divider {
    border-bottom: 1px solid $coop-border-grey;
  }

  thead th {
    background: $white;
  }

  tbody th,
  tbody td{
    background: $white;
    border-bottom: 0;
    font-family: $regular;
    font-weight: normal;
  }

  .table__bold {
     font-family: $bold;
     font-size: em-calc(20);
     @include media(medium) {
       font-size: em-calc(26);
     }
  }
}

.border-bottom {
  border-bottom: 2px solid $coop-border-grey;
}

.table-header {
  padding: 16px 0px 0px 0px;
  margin-bottom: 0;

  @include media(medium) {
    padding: 16px 8px 10px 8px;
  }
}

.tight--divider {
  font-size: em-calc(18px);
  @include spacing('padding', 'bottom', 'quarter');
  margin-bottom: 0;
  border-bottom: 2px solid $coop-border-grey;

  @include media(medium) {
    font-size: em-calc(22px);
  }
}
