/*===============================================
Tables - Co-op Front-end Toolkit
===============================================*/

@import "variables";
@import "colours";
@import "mixins/helpers";
@import "mixins/typography";

table {
  width: 100%;
  table-layout: fixed;
  font-size: 20px;
  @include spacing('margin', 'bottom', 'half');

  caption {
    text-align: left;
  }

  th, td {
    padding: $quarter-spacing-unit $quarter-spacing-unit $quarter-spacing-unit 0;
    text-align: left;
    vertical-align: top;
  }

  thead {
    border-bottom: 2px solid $coop-border-grey;

    th {
      font-family: $regular;
      font-size: 18px;
      font-weight: 300;
    }
    .emphasise-th {
      font-family: $bold;
    }
  }

  tbody {
    th {
      position: relative;
      font-family: $bold;
      font-size: 18px;
      line-height: 1.9;

      &::after {
        content: '';
        position : absolute;
        left: 0;
        bottom: -1px;
        height: 1px;
        width: 80%;
        border-bottom: 1px solid $coop-border-grey;
      }
    }
    td {
      border-bottom: 1px solid $coop-border-grey;
    }
  }

  tfoot {

    td {
      font-family: $regular;
    }
  }

  ul {
    margin-bottom: 0;
  }
}


// Simple responsive tables. Wrap a div round your table and apply the class.
.table-overflow-x {
  overflow-x: visible;
  overflow-y: hidden;
  margin-bottom: $half-spacing-unit;

  table {
    margin-bottom: 0;
  }

}

.unstyled-table {
  border: 0;
  margin-bottom: 0;

  th, td {
    padding: $eighth-spacing-unit 0;

    @include media(medium) {
      padding: $quarter-spacing-unit;
    }

  }

  .tr-divider {
    border-bottom: 1px solid $coop-border-grey;
  }

  thead th {
    background: $white;
  }

  tbody th,
  tbody td{
    background: $white;
    border-bottom: 0;
    font-family: $regular;
    font-weight: normal;
  }

  .table__bold {
     font-family: $bold;
     font-size: em-calc(20);
     @include media(medium) {
       font-size: em-calc(26);
     }
  }
}

.border-bottom {
  border-bottom: 2px solid $coop-border-grey;
}

.table-header {
  padding: 16px 0px 0px 0px;
  margin-bottom: 0;

  @include media(medium) {
    padding: 16px 8px 10px 8px;
  }
}

.tight--divider {
  font-size: em-calc(18px);
  @include spacing('padding', 'bottom', 'quarter');
  margin-bottom: 0;
  border-bottom: 2px solid $coop-border-grey;

  @include media(medium) {
    font-size: em-calc(22px);
  }
}
