/*===============================================
Tables - Co-op Front-end Toolkit
===============================================*/

table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: $half-spacing-unit;
  border: 1px solid $coop-border-grey;

  th, td {
    padding: $quarter-spacing-unit $half-spacing-unit;
    text-align: left;
  }

  thead {
    background-color: $offwhite;
    border-bottom: 1px solid $coop-border-grey;
  }

  tbody {
    td {
      border-bottom: 1px solid $coop-border-grey;
    }
    th {
      background-color: $offwhite;
      border-bottom: 1px solid $coop-border-grey;
    }
  }

  tfoot {
    font-family: $regular;

    td {
      font-weight: bold;
      background-color: $offwhite;
    }

  }

}

// Zebra striping for large data tables
.zebra {

  tr:nth-child(even) {
    background-color: $offwhite;
  }

}

// Simple responsive tables. Wrap a div round your table and apply the class.
.table-overflow-x {
  overflow-x: visible;
  overflow-y: hidden;
  margin-bottom: $half-spacing-unit;

  table {
    margin-bottom: 0;
  }

}
