/*===============================================
Typography - Co-op Front-end Toolkit
===============================================*/

@import "mixins/functions";
@import "mixins/typography";
@import "mixins/helpers";

h1, .h1, .alpha,
h2, .h2, .beta,
h3, .h3, .gamma,
h4, .h4, .delta,
h5, .h5, .epsilon,
h6, .h6, .zeta,
ul,
ol,
p,
address {
  font-weight: normal;
  margin-top: 0;
}

h1, .h1, .alpha {
  @extend %heading-h1;
}

h2, .h2, .beta {
  @extend %heading-h2;
}

h3, .h3, .gamma {
  @extend %heading-h3;
}

h4, .h4, .delta {
  @extend %heading-h4;
}

h5, .h5, .epsilon {
  @extend %heading-h5;
}

h6, .h6, .zeta {
  @extend %heading-h6;
}

p {
  margin-bottom: $half-spacing-unit;
}

small,
.smallprint {
  @extend %small;
}

em {
  font-family: $regular-italic;
}

hr {
  border: 0;
  height: 1px;
  color: $coop-border-grey;
  background-color: $coop-border-grey;
  margin-bottom: $half-spacing-unit;
}

.regular {
  @extend %regular;
}

.regular-italic,
em {
  @extend %regular-italic;
}

.bold,
strong {
  @extend %bold;
}

.bold-italic {
  @extend %bold-italic;
}

blockquote {
  @extend %blockquote;
}

cite {
  @extend %cite;
}

del,
.line-through {
  @extend %line-through;
}

.byline {
  color: $coop-grey;
}

address {
  @extend %regular;
}

.intro-text {
  @extend %intro-text;
}

ul, ol {
  @extend %list;
}

.undecorated-list {
  @extend %list-bare;
}

dt {
  margin-bottom: $quarter-spacing-unit;
  color: $coop-blue;
}

dd {
  margin: 0 0 $half-spacing-unit;
}
