/*===============================================
Variables - Co-op Front-end Toolkit
===============================================*/

// These default settings can be overriden in your project's stylesheet.
// To do so, declare them before this file is included, which will
// replace the defaults given here.

// Base URL for any linked assets. This should be the path to your assets
// relative to the generated stylesheet.
$base-asset-url: '../' !default;

// Maximum IE version targetted by the generated stylesheet.
$ie: 999 !default;

// Vertical rhythm
$base-spacing-unit: 60px !default;
$three-quarter-spacing-unit: $base-spacing-unit / 4 * 3 !default; // 45px
$half-spacing-unit: $base-spacing-unit / 2 !default; // 30px
$quarter-spacing-unit: $half-spacing-unit / 2 !default; // 15px
$sixth-spacing-unit: $base-spacing-unit / 6 !default; // 10px

// Border radius
$border-radius: 3px !default;

// Fonts
$typographic-scale: (
  base: (
    body: 20px,
    h-mega: 52px,
    h1: 46px,
    h2: 26px,
    h3: 25px,
    h4: 25px,
    h5: 20px,
    h6: 12px,
    blockquote: 35px,
    lead: 26px,
    small: 13px
  ),
  medium: (
    h-mega: 60px,
    h1: 46px,
    small: 13px
  )
) !default;

$base-line-height: 1.7 !default;

$regular: 'AvenirNextLTW01-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$medium: 'AvenirNextLTW01-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$regular-italic: 'AvenirNextLTW01-Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$bold: 'AvenirNextLTW01-Demi', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$bold-italic: 'AvenirNextLTW01-DemiIta', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;


// Grid settings
$grid-gutter: $half-spacing-unit !default;
$grid-screen-sizes: ("xsmall", "small", "medium", "large", "xlarge") !default; // Only classes listed here will be generated. These classes should follow the breakpoints given below.
$grid-total-columns: 12 !default; // If less than 12 columns are required, setting this lower will reduce the amount of column width classes generated.
$grid-include-center-classes: true !default; // If set to false, column centring classes (e.g. '.small-centered') will not be generated.
$grid-include-pull-classes: true !default; // If set to false, column pull classes (e.g. '.small-pull-2') will not be generated.
$grid-include-push-classes: true !default; // If set to false, column push classes (e.g. '.small-push-2') will not be generated.
$grid-include-offset-classes: true !default; // If set to false, column offset classes (e.g. '.small-offset-4') will not be generated.


// Breakpoints
$breakpoints: (
  xsmall: 320px,
  small:  480px,
  medium: 750px,
  large:  960px,
  xlarge: 1300px
) !default;

// Viewport orientation
$landscape: "only screen and (orientation: landscape)" !default;
$portrait: "only screen and (orientation: portrait)" !default;
